.hidden {
    display: none;
}

.visible {
    display: block;
}

.divBtnLogin{
    display: flex; 
    flex-direction: row; 
    justify-content: end
}

.imgCarousel{
    width: auto;    
    height: auto;
    opacity: 75%;
}

.divCarousel{
    z-index: 1;
    margin-top: 1%;
    max-width: 55vw;
}

.carousel-item{
    background-color: black;
}


.carousel-item:hover img{   
    opacity: 55%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

.conteudoPrincipal{
    margin: 0;
}

.imgNoticia{
    width: 30%;
}

.txtSombra{
    text-shadow: 1px 1px 3px black;
}


.itemNoticia{
    display: flex;
    flex-direction: row;
}

.itemNoticia:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    transform: scale(1.01);
    text-shadow: 1px 1px 2px rgb(201, 201, 201);
    transition: 0.15s;
    background-color: #f5f5f548;
}

.textoNoticia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.headingTxtNoticia{
    color: brown;
}

.anuncioUnico{
    margin-left: auto;
    position: sticky;
    max-width: 25vw;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.linkNaoPossuiConta{
    text-align: center;
    cursor: pointer;
}

.linkNaoPossuiConta:hover{
    color: #c7c7c7;
}

#formularioLogin{
   position: sticky;
   left: 100%;
   right: 0;
   width: 20vw;
   top: 60px;
   z-index: 5; 
   float: inline-end;
}