.divBtnLogin{
    display: flex; 
    flex-direction: row; 
    justify-content: end
}

.escondido{
    display: none;
}

.imgCarousel{
    width: auto;    
    height: auto;
    opacity: 75%;
}

.divCarousel{
    z-index: 1;
    margin-top: 1%;
    max-width: 65rem;
}

.carousel-item{
    background-color: black;
}

.carousel-item:hover img{   
    opacity: 55%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

.conteudoPrincipal{
    margin: 0;
}

.imgNoticia{
    width: 30%;
}

.txtSombra{
    text-shadow: 1px 1px 3px black;
}


.itemNoticia{
    display: flex;
    flex-direction: row;
    border: none;
    background-color: rgba(255, 255, 255, 0.274);
}

.itemNoticia:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    transform: scale(1.01);
    text-shadow: 1px 1px 2px rgb(201, 201, 201);
    transition: 0.15s;
    background-color: #f5f5f548;
}

.textoNoticia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.headingTxtNoticia{
    color: brown;
}

.anuncioUnico{
    margin-left: auto;
    min-width: 200px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.linkNaoPossuiConta{
    text-align: center;
    cursor: pointer;
}

.linkNaoPossuiConta:hover{
    color: #c7c7c7;
}

#formularioLogin{
   position: fixed;
   left: auto;
   right: 0;
   width: 20vw;
   top: auto;
   z-index: 5; 
   float: inline-end;
}

.divImgWhatsapp{
    width: 150px;
}

.infoWhatsapp{
    position: fixed;
    flex-direction: row;
    width: 250px;
    height: 5.7em;
    align-items: end;
    color: white;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    z-index: 10;
    float: inline-end;
    left: auto;
    right: 0;
    bottom: 20%;
}

.dflex{
    display: flex;
}

.divFecharWhatsapp{
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: flex-start;
}

.divImgWhatsapp{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}